/* * {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
} */

.header {
  height: 15vh;
  width: 100%;
  padding: 0 8%;
  background: rgb(66, 4, 95);
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  align-items: center;
  position: relative;
  color: #fff;
}
.logo {
  width: 540px;
}

.nav-links {
  padding: 28px 0;
}

.nav-links li {
  display: inline-block;
  margin: 0 15px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 0;
  position: relative;
}
.nav-links li a::after {
  content: "";
  background: #f5880c;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.5s;
}

.nav-links li a:hover::after {
  width: 100%;
}

.btn {
  background: #f5880c;
  color: #fff;
  padding: 10px 30px;
  border-radius: 3px;
  cursor: pointer;
}
