/* * {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
} */

.header {
  height: 20vh;
  width: 100%;
  padding: 0 8%;
  /* background: rgb(32, 30, 30); */
  background-image: url("../src/pages/images/240_F_301901899_lalLiJJTviVxRPTpJ8ShYIe6TcpLbFqC.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.headerleft {
  position: relative;
  float: left;
  height: 20vh;
  width: 25%;
  background-image: url("../src/pages/images/drone-3874000__340.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  left: -160px;
}

.headerright {
  position: relative;
  float: right;
  height: 20vh;
  width: 25%;
  background-image: url("../src/pages/images/drone-3874000__340.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  right: -160px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  align-items: center;
  vertical-align: center;
  position: relative;
  color: #fff;
  text-shadow: 0 0 0.2em rgb(214, 86, 86), 0 0 0.2em rgb(214, 86, 86);
  font-size: 84px;
  top: 50px;
}
.logo {
  width: 340px;
}

.menu {
  height: 10vh;
  width: 100%;
  padding: 0 8%;
  /* background: rgb(214, 86, 86); */
  position: relative;
  background-image: url("../src/pages/images/brown-wavy-smoke-black-background_23-2148210992.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.nav-links {
  padding: 28px 0;
}

.nav-links li {
  display: inline-block;
  margin: 0 15px;
  font-size: 24px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 0;
  position: relative;
}
.nav-links li a::after {
  content: "";
  background: #080808dc;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.5s;
}

.nav-links li a:hover::after {
  width: 100%;
}

.btn {
  background: rgb(214, 86, 86);
  color: #fff;
  padding: 10px 30px;
  border-radius: 3px;
  cursor: pointer;
}

.footer {
  height: 10vh;
  width: 100%;
  padding: 0 8%;
  background: rgb(46, 45, 45);
  position: relative;
  bottom: 0;
}
